 * {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
 }

body {
    background-color: rgb(73, 39, 38);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.description-one {
    font-size: 18px;
    font-weight: 200;
}

.game-buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.button {
    border-radius: 10%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
}

.button:hover {
    top: -12px;
}

.description-two {
    font-size: 16px;
    font-weight: 200;
}

.game-score {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-result {
    font-size: 18px;
    margin: 4px;
}

spam {
    font-weight: 800;
}